@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Semibold"), local("San-Francisco-Pro-Display-Semibold"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "San Francisco Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: transparent;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: background-color .4s;
  transition: background-color .4s;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #18191F;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 24px solid #fff;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #042a97;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.header__link {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  padding: 10.5px 20px;
  margin-right: 2px;
  background-color: transparent;
}

.header__link:hover::before {
  background-color: #0636bb;
}

.header__link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.header__link_active {
  font-weight: 700;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 460px);
  position: relative;
  z-index: 6;
}

.header__logo {
  position: relative;
  padding: 10px 0;
  top: 10px;
}

.header__logo img {
  width: 284px;
  height: 107px;
}

.header__logo::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 12.5px;
  width: calc(100% - 25px);
  height: 100%;
  background-color: #fff;
  -webkit-transform: skew(-27deg);
          transform: skew(-27deg);
}

.header__consult {
  margin: 15px 0;
}

.header__phone {
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #f2f2f2;
  text-align: right;
  margin: 0 20px 10px 0;
}

.header__phone:hover {
  opacity: 0.7;
}

.header__btn {
  display: block;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #e0e0e0;
  background-color: transparent;
  width: 239px;
  height: 39px;
}

.header__btn:hover::before {
  background-color: #ff0400;
}

.header__btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ee3834;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

@media (max-width: 1015px) {
  .header__block {
    width: calc(100% - 415px);
  }
}

@media (max-width: 967px) {
  .header {
    border-bottom-width: 21px;
  }
  .header__body {
    height: 150px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 6;
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin-top: 23px;
    margin-left: 10px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 13px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 12px;
  }
  .header__menu {
    position: fixed;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 180px 0 0 22px;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    overflow: auto;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
  }
  .header__list li {
    margin-bottom: 25px;
  }
  .header__link {
    color: #000;
    padding: 0;
    font-size: 35px;
  }
  .header__link::before {
    display: none;
  }
  .header__block {
    width: auto;
  }
  .header__consult {
    margin: 27px 0 0;
  }
}

@media (max-width: 767px) {
  .header__link {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .header__body {
    height: 185px;
  }
  .header__burger {
    margin: 18px 0 0;
  }
  .header__menu {
    padding-top: 210px;
  }
  .header__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 30px;
    padding: 0;
  }
  .header__logo img {
    width: 260px;
    height: 93px;
  }
  .header__consult {
    margin-top: 16px;
  }
  .header__phone {
    margin-right: 60px;
  }
}

@media (max-width: 576px) {
  .header {
    border-bottom-width: 17px;
  }
  .header__logo img {
    width: 258px;
    height: 85px;
  }
  .header__consult {
    margin-bottom: 8px;
  }
  .header__block {
    width: 200px;
  }
  .header__link {
    font-size: 24px;
  }
}

@media (max-width: 370px) {
  .header__btn {
    width: 219px;
  }
  .header__logo img {
    width: 238px;
  }
  .header__phone {
    margin-right: 40px;
  }
}

.section-one {
  position: relative;
  z-index: 2;
  height: 775px;
  margin-top: 124px;
  background-repeat: no-repeat;
  background-position: right 30% center;
  border-bottom: 15px solid #042a97;
}

.section-one__body {
  padding-top: 175px;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .slick-dots li {
  margin-right: 12px;
}

.slider .slick-dots li.slick-active button {
  border: none;
  background: #ffffff;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.slider__top-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  color: #737b7d;
  max-width: 451px;
  margin-bottom: 17px;
}

.slider__top-text span {
  color: red;
}

.slider__middle-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #042a97;
  max-width: 450px;
  margin-bottom: 17px;
}

.slider__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #333333;
  max-width: 583px;
}

.section-one__btn {
  display: inline-block;
  padding: 16px 0;
  width: 263px;
  margin-left: 15px;
  margin-top: 10px;
}

.section-one__btn::before {
  background-color: #ee3834;
}

.section-one__btn:hover::before {
  background-color: #ff0400;
}

/* Slick Slider */
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .section-one {
    margin-top: 150px;
    border-bottom-width: 12px;
  }
  .section-one__btn {
    width: 243px;
  }
  .slider__top-text {
    font-size: 21px;
    max-width: 315px;
  }
  .slider__middle-text {
    font-size: 26px;
  }
  .slider__title {
    font-size: 50px;
    max-width: 550px;
  }
  .section-one__btn {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .section-one {
    margin-top: 199px;
    height: auto;
    min-height: 490px;
    border-bottom-width: 10px;
  }
  .section-one__body {
    padding: 82px 0 61px 0;
    height: auto;
  }
  .slider__top-text {
    font-size: 14px;
    max-width: 230px;
    margin-bottom: 40px;
  }
  .slider__middle-text {
    font-size: 24px;
    color: #ee3834;
    margin-bottom: 10px;
    max-width: 250px;
  }
  .slider__title {
    font-size: 40px;
    max-width: 300px;
  }
  .section-one__btn {
    display: none;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .section-one {
    background-position: center center;
    background-size: cover;
  }
}

.section-two {
  margin-top: 86px;
  margin-bottom: 210px;
}

.section-two__title {
  margin-bottom: 110px;
}

.section-two__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.section-two__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}

.sectin-two__card-img {
  margin: 0 auto;
  display: block;
  height: 139px;
  margin-bottom: 21px;
}

.section-two__card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #18191f;
  max-width: 235px;
  margin: 0 auto 28px auto;
}

.section-two__card-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #18191f;
  max-width: 100%;
}

@media (max-width: 768px) {
  .section-two {
    margin-top: 68px;
    margin-bottom: 85px;
  }
  .section-two__title {
    margin-bottom: 80px;
    font-size: 32px;
  }
  .section-two__cards {
    display: block;
  }
  .section-two__card {
    margin-bottom: 45px;
  }
  .section-two__card:last-of-type {
    margin-bottom: 0;
  }
  .sectin-two__card-img {
    height: 102px;
    margin-bottom: 23px;
  }
  .section-two__card-title {
    margin-bottom: 24px;
    font-size: 25px;
  }
  .section-two__card-text {
    max-width: 325px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .section-two {
    margin-top: 50px;
    margin-bottom: 77px;
  }
  .section-two__title {
    margin-bottom: 50px;
    font-size: 22px;
  }
  .sectin-two__card-img {
    height: 66px;
    margin-bottom: 25px;
  }
  .section-two__card-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .section-two__card-text {
    max-width: 290px;
    margin: 0 auto;
  }
}

.section-three {
  position: relative;
  -webkit-transform: skew(0deg, -11deg);
          transform: skew(0deg, -11deg);
  height: 710px;
}

.section-three > * {
  -webkit-transform: skew(0deg, 11deg);
          transform: skew(0deg, 11deg);
}

.section-three::before {
  background: #042a97;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  border-top: 15px solid #ee3834;
  border-bottom: 15px solid #ee3834;
}

.section-three__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.section-three__left {
  margin-right: 15px;
}

.section-three__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #f2f2f2;
  margin-bottom: 52px;
  max-width: 370px;
}

.section-three__text {
  line-height: 24px;
  color: #f2f2f2;
  max-width: 500px;
}

.form {
  background: #f2f2f2;
  -webkit-box-shadow: 9px 15px 17px 7px rgba(0, 0, 0, 0.17);
          box-shadow: 9px 15px 17px 7px rgba(0, 0, 0, 0.17);
  border-radius: 30px;
  width: 558px;
  padding: 70px 70px;
}

.form__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 35px;
}

.form__upinput {
  font-size: 20px;
  line-height: 30px;
  color: #696f79;
  margin-bottom: 10px;
}

.form__input {
  width: 100%;
  border: 1px solid #8692a6;
  border-radius: 6px;
  padding: 24px 30px;
  margin-bottom: 15px;
  font-size: 16px;
}

.form__input::-webkit-input-placeholder {
  color: #8692a6;
}

.form__input:-ms-input-placeholder {
  color: #8692a6;
}

.form__input::-ms-input-placeholder {
  color: #8692a6;
}

.form__input::placeholder {
  color: #8692a6;
}

.form__checkbox {
  margin-bottom: 46px;
}

.form__checkbox input[type="checkbox"] {
  display: none;
}

.form__checkbox input[type="checkbox"]:checked + label::before {
  background: url("../img/section-three/checkbox-active.svg") right center;
  background-color: transparent;
}

.form__checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 36px;
  margin-right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 384px;
  font-size: 16px;
  line-height: 24px;
  color: #696f79;
}

.form__checkbox label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 1px;
  background-color: #bdbdbd;
}

.form__btn {
  width: 394px;
  padding: 18px 0;
  margin: 0 12px;
}

.form__btn::before {
  background-color: #042a97;
}

.form__btn:hover::before {
  background-color: #0636bb;
}

@media (max-width: 800px) {
  .form {
    padding: 40px;
    width: 425px;
  }
  .form__btn {
    width: 315px;
  }
}

@media (max-width: 768px) {
  .section-three__title {
    font-size: 25px;
    margin-bottom: 46px;
  }
  .section-three__text {
    max-width: 395px;
  }
}

@media (max-width: 700px) {
  .section-three {
    height: 1070px;
  }
  .section-three__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 70px;
  }
  .section-three__left {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .section-three__title {
    text-align: center;
  }
  .form__title {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .section-three {
    height: 810px;
  }
  .section-three__body {
    padding-top: 40px;
  }
  .section-three__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .section-three__text {
    max-width: 290px;
  }
  .section-three__left {
    margin-bottom: 40px;
  }
  .form {
    width: 290px;
    padding: 23px 37px 35px 37px;
  }
  .form__title {
    font-size: 22px;
    margin-bottom: 17px;
  }
  .form__upinput {
    font-size: 16px;
    margin-bottom: 0;
  }
  .form__input {
    padding: 9px 16px;
    font-size: 12px;
    margin-bottom: 0;
  }
  .form__input:last-of-type {
    margin-bottom: 10px;
  }
  .form__checkbox {
    margin-bottom: 16px;
  }
  .form__checkbox label {
    font-size: 11px;
    max-width: 210px;
    padding-left: 20px;
    line-height: 1.5;
  }
  .form__checkbox label::before {
    width: 11px;
    height: 11px;
  }
  .form__checkbox input[type="checkbox"]:checked + label::before {
    background: url("../img/section-three/checkbox-active.-mobile.svg") right center;
  }
  .form__btn {
    width: 190px;
    font-size: 16px;
    padding: 2px 0;
  }
}

.section-four {
  padding-top: 310px;
}

.section-four__title {
  margin-bottom: 100px;
}

.section-four__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-four__img {
  max-width: 100%;
}

.section-four__description {
  max-width: 685px;
  margin-left: 20px;
}

.section-four__description-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #042a97;
  margin-bottom: 39px;
}

.section-four__description-text {
  line-height: 24px;
  color: #373f41;
  margin-bottom: 10px;
}

.section-four__description-text:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .section-four__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-four__img {
    margin-bottom: 50px;
  }
  .section-four__description-title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-four {
    padding-top: 190px;
  }
  .section-four__title {
    margin-bottom: 70px;
    font-size: 32px;
  }
  .section-four__description-title {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .section-four {
    padding-top: 150px;
  }
  .section-four__title {
    margin-bottom: 40px;
    font-size: 22px;
  }
  .section-four__img {
    margin-bottom: 30px;
    width: 290px;
  }
  .section-four__description-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .section-four__description-text {
    max-width: 285px;
    margin-bottom: 0;
  }
}

.section-five {
  margin-top: 158px;
}

.section-five__title {
  max-width: 525px;
  margin: 0 auto;
  margin-bottom: 109px;
}

.section-five__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.section-five__column {
  max-width: 362px;
}

.section-five__card {
  margin-bottom: 89px;
}

.section-five__card:nth-child(even) {
  margin-bottom: 0;
}

.section-five__card-img {
  margin: 0 auto;
  display: block;
  height: 150px;
  margin-bottom: 34px;
}

.section-five__card-img--two,
.section-five__card-img--three {
  position: relative;
  left: 20px;
}

.section-five__card-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  max-width: 190px;
  color: #18191f;
  margin: 0 auto;
  margin-bottom: 15px;
}

.section-five__card-text {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .section-five {
    margin-bottom: 90px;
  }
  .section-five__title {
    font-size: 32px;
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .section-five__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-five__column {
    margin-bottom: 89px;
  }
  .section-five__card:last-child,
  .section-five__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .section-five {
    margin-top: 60px;
  }
  .section-five__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .section-five__card,
  .section-five__column {
    margin-bottom: 50px;
  }
  .section-five__card-img {
    height: 105px;
    margin-bottom: 40px;
  }
  .section-five__card-title {
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 150px;
    line-height: 1.5;
  }
  .section-five__card-text {
    font-size: 16px;
    max-width: 290px;
  }
}
