@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Regular"), local("San-Francisco-Pro-Display-Regular"), url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Medium"), local("San-Francisco-Pro-Display-Medium"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Semibold"), local("San-Francisco-Pro-Display-Semibold"), url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "San Francisco Pro";
  src: local("San Francisco Pro Display Bold"), local("San-Francisco-Pro-Display-Bold"), url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "San Francisco Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  position: relative;
  z-index: 2;
  text-align: center;
  background-color: transparent;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #18191f;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  border-bottom: 24px solid #fff;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #042a97;
}

.header__body, .footer__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header__burger {
  display: none;
}

.header__list, .footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 4;
}

.header__link, .footer__link {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  padding: 10.5px 20px;
  margin-right: 2px;
  background-color: transparent;
}

.header__link:hover::before, .footer__link:hover::before {
  background-color: #0636bb;
}

.header__link::before, .footer__link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.header__link_active, .footer__link_active {
  font-weight: 700;
}

.header__block, .footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 460px);
  position: relative;
  z-index: 6;
}

.header__logo, .footer__logo {
  position: relative;
  padding: 10px 0;
  top: 10px;
}

.header__logo img, .footer__logo img {
  width: 284px;
  height: 107px;
}

.header__logo::before, .footer__logo::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 12.5px;
  width: calc(100% - 25px);
  height: 100%;
  background-color: #fff;
  -webkit-transform: skew(-27deg);
          transform: skew(-27deg);
}

.header__consult, .footer__consult {
  margin: 15px 0;
}

.header__phone, .footer__phone {
  display: block;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #f2f2f2;
  text-align: right;
  margin: 0 20px 10px 0;
}

.header__phone:hover, .footer__phone:hover {
  opacity: 0.7;
}

.header__btn, .footer__btn {
  display: block;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #e0e0e0;
  background-color: transparent;
  width: 239px;
  padding: 11px 0;
}

.header__btn:hover::before, .footer__btn:hover::before {
  background-color: #ff0400;
}

.header__btn::before, .footer__btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ee3834;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: skew(-25deg);
          transform: skew(-25deg);
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

@media (max-width: 1015px) {
  .header__block, .footer__block {
    width: calc(100% - 415px);
  }
}

@media (max-width: 967px) {
  .header {
    border-bottom-width: 21px;
  }
  .header__body, .footer__body {
    height: 150px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 6;
    width: 40px;
    height: 30px;
    cursor: pointer;
    margin-top: 23px;
    margin-left: 10px;
  }
  .header__burger span {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    top: 13px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 12px;
  }
  .header__menu, .footer__menu {
    position: fixed;
    z-index: 2;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 180px 0 0 22px;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    overflow: auto;
  }
  .header__menu.active, .active.footer__menu {
    top: 0;
  }
  .header__list, .footer__list {
    display: block;
  }
  .header__list li, .footer__list li {
    margin-bottom: 25px;
  }
  .header__link, .footer__link {
    color: #000;
    padding: 0;
    font-size: 35px;
  }
  .header__link::before, .footer__link::before {
    display: none;
  }
  .header__block, .footer__block {
    width: auto;
  }
  .header__consult, .footer__consult {
    margin: 27px 0 0;
  }
}

@media (max-width: 767px) {
  .header__link, .footer__link {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .header__body, .footer__body {
    height: 185px;
  }
  .header__burger {
    margin: 18px 0 0;
  }
  .header__menu, .footer__menu {
    padding-top: 210px;
  }
  .header__block, .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__logo, .footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 30px;
    padding: 0;
  }
  .header__logo img, .footer__logo img {
    width: 260px;
    height: 93px;
  }
  .header__consult, .footer__consult {
    margin-top: 16px;
  }
  .header__phone, .footer__phone {
    margin-right: 60px;
  }
}

@media (max-width: 576px) {
  .header {
    border-bottom-width: 17px;
  }
  .header__logo img, .footer__logo img {
    width: 258px;
    height: 85px;
  }
  .header__consult, .footer__consult {
    margin-bottom: 8px;
  }
  .header__block, .footer__block {
    width: 200px;
  }
  .header__link, .footer__link {
    font-size: 24px;
  }
}

@media (max-width: 370px) {
  .header__btn, .footer__btn {
    width: 219px;
  }
  .header__logo img, .footer__logo img {
    width: 238px;
  }
  .header__phone, .footer__phone {
    margin-right: 40px;
  }
}

.section-one {
  position: relative;
  z-index: 2;
  height: 775px;
  margin-top: 124px;
  background-repeat: no-repeat;
  background-position: right 30% center;
  border-bottom: 15px solid #042a97;
}

.section-one__body {
  padding-top: 175px;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider .slick-dots li {
  margin-right: 12px;
}

.slider .slick-dots li.slick-active button {
  border: none;
  background: #ffffff;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.sldier__item {
  min-height: 313px;
}

.slider__top-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  color: #737b7d;
  max-width: 451px;
  margin-bottom: 17px;
}

.slider__middle-text {
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  color: #042a97;
  max-width: 450px;
  margin-bottom: 17px;
}

.slider__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  color: #333333;
  max-width: 583px;
}

.section-one__btn {
  display: inline-block;
  padding: 16px 0;
  width: 263px;
  margin-left: 15px;
  margin-top: 10px;
}

.section-one__btn::before {
  background-color: #ee3834;
}

.section-one__btn:hover::before {
  background-color: #ff0400;
}

/* Slick Slider */
.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .section-one {
    margin-top: 150px;
    border-bottom-width: 12px;
  }
  .section-one__btn {
    width: 243px;
  }
  .slider__top-text {
    font-size: 21px;
    max-width: 315px;
  }
  .slider__middle-text {
    font-size: 26px;
  }
  .slider__title {
    font-size: 50px;
    max-width: 550px;
  }
  .section-one__btn {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .section-one {
    margin-top: 199px;
    height: auto;
    min-height: 490px;
    border-bottom-width: 10px;
  }
  .section-one__body {
    padding: 82px 0 61px 0;
    height: auto;
    min-height: 500px;
  }
  .sldier__item {
    min-height: 350px;
  }
  .slider__top-text {
    font-size: 14px;
    max-width: 230px;
    margin-bottom: 40px;
  }
  .slider__middle-text {
    font-size: 24px;
    color: #ee3834;
    margin-bottom: 10px;
    max-width: 250px;
  }
  .slider__title {
    font-size: 40px;
    max-width: 300px;
  }
  .section-one__btn {
    display: none;
    margin: 0;
  }
  .slider .slick-dots {
    bottom: 16px;
  }
}

@media (max-width: 450px) {
  .section-one {
    background-position: center center;
    background-size: cover;
  }
}

.section-two {
  margin-top: 86px;
  margin-bottom: 210px;
}

.section-two__title {
  margin-bottom: 110px;
}

.section-two__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.section-two__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 360px;
          flex: 0 0 360px;
}

.sectin-two__card-img {
  margin: 0 auto;
  display: block;
  height: 139px;
  margin-bottom: 21px;
}

.section-two__card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  color: #18191f;
  max-width: 235px;
  margin: 0 auto 28px auto;
}

.section-two__card-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #18191f;
  max-width: 100%;
}

@media (max-width: 768px) {
  .section-two {
    margin-top: 68px;
    margin-bottom: 85px;
  }
  .section-two__title {
    margin-bottom: 80px;
    font-size: 32px;
  }
  .section-two__cards {
    display: block;
  }
  .section-two__card {
    margin-bottom: 45px;
  }
  .section-two__card:last-of-type {
    margin-bottom: 0;
  }
  .sectin-two__card-img {
    height: 102px;
    margin-bottom: 23px;
  }
  .section-two__card-title {
    margin-bottom: 24px;
    font-size: 25px;
  }
  .section-two__card-text {
    max-width: 325px;
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .section-two {
    margin-top: 50px;
    margin-bottom: 77px;
  }
  .section-two__title {
    margin-bottom: 50px;
    font-size: 22px;
  }
  .sectin-two__card-img {
    height: 66px;
    margin-bottom: 25px;
  }
  .section-two__card-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .section-two__card-text {
    max-width: 290px;
    margin: 0 auto;
  }
}

.section-three {
  position: relative;
  -webkit-transform: skew(0deg, -11deg);
          transform: skew(0deg, -11deg);
  height: 710px;
}

.section-three > * {
  -webkit-transform: skew(0deg, 11deg);
          transform: skew(0deg, 11deg);
}

.section-three::before {
  background: #042a97;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  border-top: 15px solid #ee3834;
  border-bottom: 15px solid #ee3834;
}

.section-three__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
}

.section-three__left {
  margin-right: 15px;
}

.section-three__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #f2f2f2;
  margin-bottom: 52px;
  max-width: 370px;
}

.section-three__text {
  line-height: 24px;
  color: #f2f2f2;
  max-width: 500px;
}

.form, .popup-form {
  background: #f2f2f2;
  -webkit-box-shadow: 9px 15px 17px 7px rgba(0, 0, 0, 0.17);
          box-shadow: 9px 15px 17px 7px rgba(0, 0, 0, 0.17);
  border-radius: 30px;
  width: 558px;
  padding: 70px 70px;
}

.form__title, .popup-form__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 35px;
}

.form__upinput, .popup-form__upinput {
  font-size: 20px;
  line-height: 30px;
  color: #696f79;
  margin-bottom: 10px;
}

.form__input, .popup-form__input {
  width: 100%;
  border: 1px solid #8692a6;
  border-radius: 6px;
  padding: 24px 30px;
  margin-bottom: 15px;
  font-size: 16px;
}

.form__input::-webkit-input-placeholder, .popup-form__input::-webkit-input-placeholder {
  color: #8692a6;
}

.form__input:-ms-input-placeholder, .popup-form__input:-ms-input-placeholder {
  color: #8692a6;
}

.form__input::-ms-input-placeholder, .popup-form__input::-ms-input-placeholder {
  color: #8692a6;
}

.form__input::placeholder, .popup-form__input::placeholder {
  color: #8692a6;
}

.form__checkbox, .popup-form__checkbox {
  margin-bottom: 46px;
}

.form__checkbox input[type="checkbox"], .popup-form__checkbox input[type="checkbox"] {
  display: none;
}

.form__checkbox input[type="checkbox"]:checked + label::before, .popup-form__checkbox input[type="checkbox"]:checked + label::before {
  background: url("../img/section-three/checkbox-active.svg") center center;
  background-color: transparent;
}

.form__checkbox label, .popup-form__checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 36px;
  margin-right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 384px;
  font-size: 16px;
  line-height: 24px;
  color: #696f79;
}

.form__checkbox label::before, .popup-form__checkbox label::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 5px;
  bottom: 1px;
  background-color: #bdbdbd;
}

.form__btn, .popup-form__btn {
  width: 394px;
  padding: 18px 0;
  margin: 0 12px;
}

.form__btn::before, .popup-form__btn::before {
  background-color: #042a97;
}

.form__btn:hover::before, .popup-form__btn:hover::before {
  background-color: #0636bb;
}

.form__btn.disabled::before, .disabled.popup-form__btn::before {
  background: #ee3834;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.8;
}

@media (max-width: 800px) {
  .form, .popup-form {
    padding: 40px;
    width: 425px;
  }
  .form__btn, .popup-form__btn {
    width: 315px;
  }
}

@media (max-width: 768px) {
  .section-three__title {
    font-size: 25px;
    margin-bottom: 46px;
  }
  .section-three__text {
    max-width: 395px;
  }
}

@media (max-width: 700px) {
  .section-three {
    height: 1070px;
  }
  .section-three__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 70px;
  }
  .section-three__left {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .section-three__title {
    text-align: center;
  }
  .form__title, .popup-form__title {
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  .section-three {
    height: 810px;
  }
  .section-three__body {
    padding-top: 40px;
  }
  .section-three__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .section-three__text {
    max-width: 290px;
  }
  .section-three__left {
    margin-bottom: 40px;
  }
  .form, .popup-form {
    width: 290px;
    padding: 23px 37px 35px 37px;
  }
  .form__title, .popup-form__title {
    font-size: 22px;
    margin-bottom: 17px;
  }
  .form__upinput, .popup-form__upinput {
    font-size: 16px;
    margin-bottom: 0;
  }
  .form__input, .popup-form__input {
    padding: 9px 16px;
    font-size: 12px;
    margin-bottom: 0;
  }
  .form__input:last-of-type, .popup-form__input:last-of-type {
    margin-bottom: 10px;
  }
  .form__checkbox, .popup-form__checkbox {
    margin-bottom: 16px;
  }
  .form__checkbox label, .popup-form__checkbox label {
    font-size: 11px;
    max-width: 210px;
    padding-left: 20px;
    line-height: 1.5;
  }
  .form__checkbox label::before, .popup-form__checkbox label::before {
    width: 11px;
    height: 11px;
  }
  .form__checkbox input[type="checkbox"]:checked + label::before, .popup-form__checkbox input[type="checkbox"]:checked + label::before {
    background: url("../img/section-three/checkbox-active.-mobile.svg") right center;
  }
  .form__btn, .popup-form__btn {
    width: 190px;
    font-size: 16px;
    padding: 2px 0;
  }
}

.section-four {
  padding-top: 310px;
}

.section-four__title {
  margin-bottom: 100px;
}

.section-four__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-four__img {
  max-width: 100%;
}

.section-four__description {
  max-width: 685px;
  margin-left: 20px;
}

.section-four__description-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #042a97;
  margin-bottom: 39px;
}

.section-four__description-text {
  line-height: 24px;
  color: #373f41;
  margin-bottom: 10px;
}

.section-four__description-text:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .section-four__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-four__img {
    margin-bottom: 50px;
  }
  .section-four__description-title {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .section-four {
    padding-top: 190px;
  }
  .section-four__title {
    margin-bottom: 70px;
    font-size: 32px;
  }
  .section-four__description-title {
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .section-four {
    padding-top: 150px;
  }
  .section-four__title {
    margin-bottom: 40px;
    font-size: 22px;
  }
  .section-four__img {
    margin-bottom: 30px;
    width: 290px;
  }
  .section-four__description-title {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .section-four__description-text {
    max-width: 285px;
    margin-bottom: 0;
  }
}

.section-five {
  margin-top: 158px;
  margin-bottom: 240px;
}

.section-five__title {
  max-width: 525px;
  margin: 0 auto;
  margin-bottom: 109px;
}

.section-five__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.section-five__column {
  max-width: 362px;
}

.section-five__card {
  margin-bottom: 89px;
}

.section-five__card:nth-child(even) {
  margin-bottom: 0;
}

.section-five__card-img {
  margin: 0 auto;
  display: block;
  height: 150px;
  margin-bottom: 34px;
}

.section-five__card-img--two,
.section-five__card-img--three {
  position: relative;
  left: 20px;
}

.section-five__card-title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  max-width: 190px;
  color: #18191f;
  margin: 0 auto;
  margin-bottom: 15px;
}

.section-five__card-text {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 768px) {
  .section-five {
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .section-five__title {
    font-size: 32px;
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .section-five__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-five__column {
    margin-bottom: 89px;
  }
  .section-five__card:last-child,
  .section-five__column:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .section-five {
    margin-top: 60px;
  }
  .section-five__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .section-five__card,
  .section-five__column {
    margin-bottom: 50px;
  }
  .section-five__card-img {
    height: 105px;
    margin-bottom: 40px;
  }
  .section-five__card-title {
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 150px;
    line-height: 1.5;
  }
  .section-five__card-text {
    font-size: 16px;
    max-width: 290px;
  }
}

.section-six {
  position: relative;
  -webkit-transform: skew(0deg, -11deg);
          transform: skew(0deg, -11deg);
  height: 1080px;
}

.section-six > * {
  -webkit-transform: skew(0deg, 11deg);
          transform: skew(0deg, 11deg);
}

.section-six::before {
  background: #042a97;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  border-top: 15px solid #ee3834;
  border-bottom: 15px solid #ee3834;
}

.section-six__body {
  padding-top: 140px;
}

.section-six__title {
  color: #f2f2f2;
  margin-bottom: 95px;
}

.section-six__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-six__card {
  height: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #132351;
  -webkit-box-shadow: 16px 10px 56px -6px rgba(148, 146, 146, 0.4);
          box-shadow: 16px 10px 56px -6px rgba(148, 146, 146, 0.4);
  border-radius: 30px;
  padding: 50px 37px 42px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.section-six__card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.section-six__card:nth-child(2) {
  background: #ffffff;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.section-six__card:nth-child(2):hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

.section-six__card:nth-child(2) .section-six__card-title {
  color: #001961;
  border-bottom: 1px solid rgba(156, 160, 179, 0.4);
}

.section-six__card:nth-child(2) .section-six__card-item {
  color: #001961;
}

.section-six__card:nth-child(2) .section-six__card-price {
  color: #172755;
}

.section-six__card:nth-child(2) .section-six__card-btn::before {
  background-color: #042a97;
  border: none;
}

.section-six__card:nth-child(2) .section-six__card-btn:hover::before {
  background-color: #0636bb;
}

.section-six__card:nth-child(2) .section-six__card-item {
  background-image: url("../img/section-six/check-mark-blue.svg");
}

.section-six__card-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 31px;
  border-bottom: 1px solid rgba(156, 160, 179, 0.4);
  margin-bottom: 35px;
}

.section-six__card-list {
  margin-bottom: auto;
}

.section-six__card-item {
  font-size: 14px;
  line-height: 2.5;
  color: #f2f2f2;
  padding-left: 36px;
  background-image: url("../img/section-six/check-mark-red.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.section-six__card-price {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 35px;
}

.section-six__card-price span {
  font-size: 60px;
}

.section-six__card-btn {
  width: 230px;
  padding: 10px 0;
  margin: 0 auto;
}

.section-six__card-btn::before {
  background-color: transparent;
  border: 1px solid white;
}

.section-six__card-btn:hover::before {
  background-color: #ee3834;
}

@media (max-width: 1160px) {
  .section-six {
    height: 2380px;
  }
  .section-six__title {
    margin-bottom: 60px;
  }
  .section-six__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-six__card {
    margin-bottom: 25px;
  }
  .section-six__card:nth-child(2) {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .section-six__card:nth-child(2):hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .section-six__card:hover {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .section-six__body {
    padding-top: 100px;
  }
  .section-six__title {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .section-six {
    height: 1919px;
  }
  .section-six__body {
    padding-top: 70px;
  }
  .section-six__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .section-six__card {
    padding: 40px 13px 40px 13px;
    height: 561px;
    max-width: 290px;
  }
  .section-six__card-title {
    font-size: 22px;
    padding-bottom: 24px;
    max-width: 92px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .section-six__card-item {
    font-size: 12px;
    margin-bottom: 4px;
    padding-left: 30px;
    line-height: 1.5;
    margin-bottom: 14px;
  }
  .section-six__card-price {
    margin-bottom: 25px;
  }
  .section-six__card-price span {
    font-size: 45px;
  }
  .section-six__card-btn {
    width: 190px;
    font-size: 15px;
  }
}

.section-seven {
  margin-top: 290px;
  margin-bottom: 40px;
}

.section-seven__title {
  color: #001961;
  line-height: 1;
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section-seven__title span {
  display: block;
}

.section-seven__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #828282;
  max-width: 827px;
  margin: 0 auto;
  margin-bottom: 66px;
}

.section-seven__list {
  margin-left: 37px;
  margin-bottom: 71px;
}

.section-seven__item {
  margin-bottom: 30px;
  padding-left: 54px;
  background-image: url("../img/section-seven/rhomb.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.section-seven__item-title {
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 15px;
}

.section-seven__item-text {
  line-height: 24px;
  max-width: 980px;
}

.section-seven__btn {
  display: block;
  margin: 0 auto;
  width: 378px;
  padding: 16px 0;
}

.section-seven__btn::before {
  background-color: #042a97;
}

.section-seven__btn:hover::before {
  background-color: #0636bb;
}

@media (max-width: 768px) {
  .section-seven {
    margin-top: 170px;
  }
  .section-seven__title {
    font-size: 32px;
    margin-bottom: 46px;
  }
  .section-seven__subtitle {
    font-size: 22px;
    margin-bottom: 52px;
  }
  .section-seven__list {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .section-seven {
    margin-top: 115px;
  }
  .section-seven__title {
    font-size: 22px;
    margin-bottom: 42px;
    max-width: 270px;
  }
  .section-seven__subtitle {
    font-size: 14px;
    margin-bottom: 41px;
    max-width: 255px;
    line-height: 1.2;
  }
  .section-seven__list {
    margin-bottom: 55px;
  }
  .section-seven__item {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-left: 35px;
  }
  .section-seven__item-title {
    font-size: 14px;
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .section-seven__item-text {
    font-size: 14px;
  }
  .section-seven__btn {
    width: 220px;
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 0;
  }
}

.section-eight__top {
  height: 560px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-eight__top::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  max-height: 600px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #042a97;
  -webkit-transform: skewY(-11deg);
          transform: skewY(-11deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  border-top: 15px solid #ee3834;
}

.section-eight__title {
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 43px;
}

.section-eight__subtitle {
  color: #e0e0e0;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.5;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 82px;
}

.section-eight__bottom {
  height: 657px;
  overflow: hidden;
}

.section-eight__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section-eight__img-mobile {
  display: none;
}

@media (max-width: 1400px) {
  .section-eight__top {
    height: 520px;
  }
}

@media (max-width: 1200px) {
  .section-eight__top {
    height: 490px;
  }
}

@media (max-width: 900px) {
  .section-eight__top {
    height: 470px;
  }
}

@media (max-width: 768px) {
  .section-eight__top {
    height: 420px;
  }
  .section-eight__title {
    font-size: 32px;
  }
  .section-eight__subtitle {
    font-size: 22px;
    margin-bottom: 70px;
  }
  .section-eight__bottom {
    height: 570px;
  }
}

@media (max-width: 576px) {
  .section-eight__top {
    height: 245px;
  }
  .section-eight__bottom {
    height: 391px;
  }
  .section-eight__title {
    font-size: 22px;
    margin-bottom: 40px;
  }
  .section-eight__subtitle {
    font-size: 16px;
    opacity: 0.6;
    margin-bottom: 40px;
    max-width: 220px;
  }
}

@media (max-width: 430px) {
  .section-eight__img {
    display: none;
  }
  .section-eight__img-mobile {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

.footer {
  background-color: #042a97;
  border-top: 22px solid #fff;
}

.footer__logo {
  margin-top: -25px;
  padding: 0;
}

@media (max-width: 967px) {
  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__block {
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__consult {
    margin: 0;
  }
}

@media (max-width: 640px) {
  .footer__body {
    height: 206px;
  }
  .footer__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__logo {
    margin-bottom: 30px;
  }
  .footer__consult {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer__logo {
    margin-top: -50px;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .footer {
    border-top-width: 17px;
  }
  .footer__logo {
    margin-top: -75px;
    margin-bottom: 25px;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 60;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
}

.popup__close::before, .popup__close::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #1565d8;
}

.popup__close::before {
  top: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::after {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
