.footer {
   background-color: #042a97;
   border-top: 22px solid #fff;
}

.footer__body {
   @extend .header__body;
}

.footer__menu {
   @extend .header__menu;
}
.footer__list {
   @extend .header__list;
}
.footer__link {
   @extend .header__link;
}
.footer__link_active {
   @extend .header__link_active;
}
.footer__block {
   @extend .header__block;
}
.footer__logo {
   margin-top: -25px;
   padding: 0;
   position: relative;
   top: 7px;

   & img {
      width: 284px;
      height: 107px;
   }
}
.footer__consult {
   @extend .header__consult;
}
.footer__phone {
   @extend .header__phone;
}
.footer__btn {
   @extend .header__btn;
}

@media (max-width: 967px) {
   .footer__body {
      justify-content: center;
      align-items: center;
   }
   .footer__block {
      margin: 0 auto;
      align-items: center;
   }
   .footer__consult {
      margin: 0;
   }
}

@media (max-width: 640px) {
   .footer__body {
      height: 206px;
   }
   .footer__block {
      align-items: center;
      justify-content: center;
   }
   .footer__consult {
      order: 1;
   }
   .footer__logo {
      margin-bottom: 30px;
      margin-top: -20px;
      margin-right: 0;

      &::before {
         display: none;
      }

      & img {
         width: 200px;
         height: 95px;
      }
   }
   .footer__phone {
      display: block;
      text-align: center;
      margin-right: 0;
   }
}

@media (max-width: 576px) {
   .footer {
      border-top-width: 17px;
   }
   .footer__logo {
      margin-top: -65px;
      margin-bottom: 30px;

      & img {
         width: 121px;
         height: 50px;
      }
   }
   .footer__phone {
      margin-bottom: 30px;
   }
}
