.service-one-mobile {
   display: none;
}

@media (max-width: 1200px) {
   .service-one-mobile {
      display: block;
      margin-bottom: 60px;
      margin-top: 115px;
   }

   .service-one-mobile__top {
      background-size: cover;
      background-repeat: no-repeat;
      padding-top: 50px;
      min-height: 455px;
      margin-bottom: 20px;
      position: relative;
      display: block;
   }

   .service-one-mobile__top-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }

   .service-one-mobile__title {
      font-size: 31px;
      line-height: 125%;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      max-width: 400px;
      margin: 0 auto 40px;
      font-weight: 700;
   }

   .service-one-mobile__subtitle {
      font-size: 23px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      max-width: 360px;
      margin: 0 auto;
      padding-bottom: 40px;
      border-bottom: 5px solid rgba(255, 255, 255, 0.5);
      margin-bottom: 50px;
   }

   .service-one-mobile__text {
      font-size: 31px;
      line-height: 125%;
      text-align: center;
      text-transform: uppercase;
      color: #fefeff;
      max-width: 100px;
      max-width: 475px;
      margin: 0 auto;
      margin-bottom: 40px;
      font-weight: 600;
   }

   .service-one-mobile__experience {
      font-size: 31px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      color: #fefeff;
      padding-bottom: 50px;
   }
}

@media (max-width: 640px) {
   .service-one-mobile {
      margin-top: 80px;
   }
   .service-one-mobile__top {
      padding-top: 19px;
   }
}

@media (max-width: 576px) {
   .service-one-mobile__top {
      background-size: 100%;
      height: auto;
   }
   .service-one-mobile__title {
      font-size: 22px;
      margin-bottom: 25px;
      max-width: 290px;
   }
   .service-one-mobile__subtitle {
      font-size: 16px;
      max-width: 252px;
      padding-bottom: 25px;
      margin-bottom: 25px;
   }
   .service-one-mobile__text {
      font-size: 22px;
      margin-bottom: 25px;
      max-width: 340px;
   }
   .service-one-mobile__experience {
      font-size: 22px;
      padding-bottom: 30px;
   }
}

@media (max-width: 400px) {
   .service-one-mobile__top {
      background-size: 100%;
   }
   .service-one-mobile__subtitle {
      padding-bottom: 30px;
      margin-bottom: 30px;
   }
   .service-one-mobile__text {
      font-size: 20px;
      margin-bottom: 30px;
   }
   .service-one-mobile__top-link {
      clip-path: polygon(0 0, 100% 0, 100% 88%, 70% 100%, 0 100%, 0% 50%);
   }
}

@media (max-width: 385px) {
   .service-one-mobile__top {
      margin-bottom: 60px;
   }
}

@media (max-width: 375px) {
   .service-one-mobile__top-link {
      clip-path: polygon(0 0, 100% 0, 100% 88%, 62% 100%, 0 100%, 0% 50%);
   }
}

@media (max-width: 355px) {
   .service-one-mobile__top {
      margin-bottom: 35px;
   }
}

@media (max-width: 325px) {
   .service-one-mobile__top {
      background-size: auto;
   }
   .service-one-mobile__subtitle {
      padding-bottom: 20px;
      margin-bottom: 20px;
   }
   .service-one-mobile__text {
      margin-bottom: 20px;
   }
   .service-one-mobile__top-link {
      clip-path: polygon(0 0, 100% 0, 100% 74%, 10% 100%, 0 100%, 0% 50%);
   }
}

.service-one-mobile__middle {
   display: none;
}

@media (max-width: 576px) {
   .service-one-mobile__middle {
      display: block;
      margin-bottom: 30px;
      position: relative;
   }
   .service-one-mobile__middle-link {
      margin-bottom: 15px;
      position: static;
      display: block;
      margin: 0 auto 20px;
      max-width: 150px;
   }
   .service-one-mobile__middle-logo {
      width: 150px;
   }
   .service-one-mobile__middle-title {
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      color: #042a97;
      max-width: 380px;
      font-weight: 600;
      margin: 0 auto 28px;
   }

   .service-one-mobile__middle-cards {
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      & img {
         width: 100%;
      }
   }
   .service-one-mobile__middle-cards-link {
      position: absolute;
      top: 0;
      height: 100%;
      width: 25%;

      display: block;

      &.first {
         transform: skewX(16deg);
         left: -67px;
         width: 35%;
      }

      &.second {
         left: 129px;
         width: 25%;
         transform: skewX(15deg);
      }

      &.third {
         left: 270px;
         transform: skewX(15deg);
      }

      &.fourth {
         left: 414px;
         width: 36%;
         transform: skewX(14deg);
      }
   }
}

@media (max-width: 500px) {
   .service-one-mobile__middle-cards-link {
      &.first {
         width: 38%;
      }

      &.second {
         left: 114px;
      }

      &.third {
         left: 234px;
      }

      &.fourth {
         left: 354px;
      }
   }
}

@media (max-width: 435px) {
   .service-one-mobile__middle-cards-link {
      &.first {
         width: 39%;
      }

      &.second {
         left: 101px;
      }

      &.third {
         left: 209px;
      }

      &.fourth {
         left: 317px;
      }
   }
}

@media (max-width: 385px) {
   .service-one-mobile__middle-cards-link {
      &.first {
         width: 42%;
      }

      &.second {
         left: 88px;
      }

      &.third {
         left: 180px;
      }

      &.fourth {
         left: 270px;
      }
   }
   .service-one-mobile__middle-link {
      position: absolute;
      right: 5px;
      top: -68px;
       margin: 0;
   }
   .service-one-mobile__middle-logo {
      width: 130px;
   }
}

@media (max-width: 355px) {
   .service-one-mobile__middle-link {
      top: -70px;
   }
}

@media (max-width: 335px) {
   .service-one-mobile__middle-cards-link {
      &.first {
         width: 45%;
      }

      &.second {
         left: 74px;
      }

      &.third {
         left: 156px;
      }

      &.fourth {
         left: 239px;
      }
   }

   .service-one-mobile__middle-link {
      top: -82px;
   }
}


.service-one-mobile__bottom {
   display: none;
}

@media (max-width: 1200px) {
   .service-one-mobile__bottom {
      display: block;
   }
   .service-one-mobile__bottom-title {
      font-weight: 600;
      font-size: 27px;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      color: #ee3834;
      font-style: italic;
      max-width: 240px;
      margin: 0 auto 38px;
   }

   .service-one-mobile__bottom-phone {
      margin: 0 auto;
      margin-bottom: 45px;
      text-align: center;
      display: block;
      color: #0535b8;
      font-family: "Mulish", sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.2;

      &:hover {
         opacity: 0.7;
      }
   }

   .service-one-mobile__bottom-link {
      background: #042a97;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      width: 300px;
      display: block;
      text-align: center;
      padding: 14px 0;
      font-family: $Mul, sans-serif;
      font-size: 18px;
      text-align: center;
      color: #ffffff;
      margin: 0 auto 50px;
      transition: background-color 0.3s;

      &:hover {
         background-color: #0535b8;
      }
   }
}

@media (max-width: 576px) {
   .service-one-mobile__bottom-link {
      width: 235px;
      font-size: 14px;
   }
}
