.service-seven {
}
.service-seven__body {
}

.service-seven__top {
   height: auto;

   &::before {
      display: none;
   }
}

.service-seven__title {
   color: #001961;
}

.service-seven__subtitle {
   color: #001961;
}

.service-seven__bottom {
}

.service-seven__img {
}

.service-seven__img-mobile {
}